__pycache__/
*.py[cod]
*.egg-info
*.dot
*.pkl
*.lock
*.png
*.npz
*.msgpack
*.npy
*.pyc

.jax_cache/
dist/
build/
scripts/
misc/
runs/
traces/

!*.md
!*.toml
!*.txt
!*.rst
!*.cfg
!*.ini
!*.yaml
!*.yml
